name: Monitorizaci贸n Web

on:
  push:
    branches:
      - main

  chedule:
    - cron: '*/5 * * * *' # Que la acci贸n se ejecute cada 5 minutos
 

jobs:
  monitor:
    runs-on: ubuntu-latest

    permissions:
      contents: write  

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Obtener c贸digo de estado con curl
        run: |
          # Definir la URL a monitorizar
          URL="https://mercadona.es"  
          
          # Hacer la llamada HTTP con curl
          STATUS_CODE=$(curl -o /dev/null -s -w "%{http_code}" $URL)
          
          # Obtener la hora actual en formato YYYY-MM-DD HH:MM:SS
          CURRENT_TIME=$(date '+%Y-%m-%d_%H-%M-%S')
          
          # Guardar el resultado en un archivo
          echo "$CURRENT_TIME - Status code: $STATUS_CODE" >> "$CURRENT_TIME".txt
          
          # Subir el archivo al repositorio
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "Actualizaci贸n de estado - $CURRENT_TIME"

          # Usar GITHUB_TOKEN para autenticarse y hacer push
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:main
